APP_NAME = {{ forgejo_app_name }}
RUN_MODE = {{ forgejo_run_mode }}

[database]
DB_TYPE = {{ forgejo_db_type }}
{% if forgejo_db_type == 'sqlite3' %}
PATH = {{ forgejo_db_path }}
{% else %}
HOST = {{ forgejo_db_host }}
NAME = {{ forgejo_db_name }}
USER = {{ forgejo_db_user }}
PASSWD = {{ forgejo_db_password }}
{% endif %}

[server]
DOMAIN = {{ forgejo_domain }}
HTTP_PORT = {{ forgejo_http_port }}
ROOT_URL = {{ forgejo_root_url }}
SSH_DOMAIN = {{ forgejo_domain }}
SSH_PORT = {{ forgejo_ssh_port }}
START_SSH_SERVER = false
DISABLE_SSH = false

[service]
DISABLE_REGISTRATION = {{ forgejo_disable_registration }}

[log]
ROOT_PATH = {{ forgejo_work_dir }}/log
MODE = console
LEVEL = info
