CLOUDFLARE_API_TOKEN={{ forgejo_caddy_cloudflare_api_token }}
{% if forgejo_caddy_cloudflare_zone_api_token | length > 0 %}
CLOUDFLARE_ZONE_API_TOKEN={{ forgejo_caddy_cloudflare_zone_api_token }}
{% endif %}
